FRESHRSS_URL=http://your-freshrss-host:1201
FRESHRSS_API_URL=http://your-freshrss-host:1201/api/greader.php
FRESHRSS_USERNAME=your-username
FRESHRSS_API_PASSWORD=your-api-password
FRESHRSS_PASSWORD=your-password
